# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environment (Crucial!)
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

backend/outputs/
backend/history.json
__pycache__/